{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Get Emerge time (emertime) for a given atom</h2>
    <form action="/result" method="POST">
        <div class="form-group">
            <label for="atom">Atom:</label>
            <input type="text" class="form-control" id="atom" placeholder="Enter atom name" name="atom">
        </div>
        <button type="submit" class="btn btn-default">get emertime</button>
    </form>
</div>

{% endblock %}